<div class="footer-inner container">
  <p class="footer__copyright">© 2026 Brewstock. All rights reserved.</p>
  <p class="footer__acknowledgement">
    Brewstock would like to Acknowledge the Traditional Owners of the lands where we are based in Melbourne's North, The Wurrundjeri Woi-wurring people of the Kulin Nation. We pay our respects to their Elders past and present and acknowledge their strong ongoing connections to land, water and culture. It's our privilege to meet, create and live on this Country.
  </p>
</div>
